<div *ngFor="let option of options; index as i; first as isFirst">
  <div class="select-option" (click)="onSelectedValue(option.value)" [ngClass]="{selected: value === option?.value}">
    <div class="selector">
      <svg *ngIf="value === option?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="3"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </div>
    <div class="text">
      {{option.label}}
    </div>
  </div>
</div>
