.input-group {
  height: 3rem;

  input {
    border: 1px solid #ced4da;
    border-right: none;
    height: 100%;
    box-shadow: none;
  }

  button {
    box-shadow: none !important;
    border: 1px solid #ced4da;
    border-left: none;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
