<nav class="navbar navbar-expand-lg navbar-light" [ngStyle]="{height: size}">
  <a class="navbar-brand brand-name" routerLink="/">
    <svg height="1.5rem" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 280.028 280.028"
      style="enable-background:new 0 0 280.028 280.028;" xml:space="preserve">
      <g>
        <path style="fill:#EBEBEB;" d="M140.014,0c77.323,0,140.014,62.691,140.014,140.014c0,77.314-62.691,140.014-140.014,140.014
S0,217.336,0,140.014S62.682,0,140.014,0z" />
        <path style="fill:#E2574C;" d="M78.749,113.787h35.135V78.749c0-4.83,3.912-8.751,8.742-8.751h34.968
c4.822,0,8.733,3.92,8.733,8.751v35.03h34.951c4.839,0,8.751,3.912,8.751,8.751v35.012c0,4.848-3.912,8.768-8.751,8.768h-34.951
v34.933c0,4.839-3.912,8.751-8.733,8.751h-34.968c-4.83,0-8.742-3.912-8.742-8.751V166.31H78.749c-4.839,0-8.76-3.92-8.76-8.768
V122.53C69.989,117.699,73.91,113.787,78.749,113.787z" />
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
    </svg>

    <span class="d-none d-md-inline-block ml-2">
      Medical Blockchain
    </span>
    <span class="d-inline-block d-md-none ml-2">
      MB
    </span>
  </a>

  <div class="ml-auto">
    <button class="btn" (click)="logout()">
      <span class="d-none d-md-inline-block">Salir</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-log-out">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line x1="21" y1="12" x2="9" y2="12"></line>
      </svg>
    </button>
  </div>
</nav>